<div class="m-8 absolute right-0">
  <button>
    <a href="/main">Contact</a>
  </button>
</div>
<div class="flex justify-around">
  <img src="/images/profile-pic.png" alt="" />
  <div class="flex flex-col justify-center">
    <h1 class="text-4xl font-bold">
      Bonjour, je suis <span class="text-primary_color">Matthieu</span>
    </h1>
    <h2 class="text-2xl font-bold">
      un <span class="text-primary_color">Développeur Full Stack Junior</span>
    </h2>
    <p class="text-lg">
      Je suis passionné par le développement web et je termine actuellement ma
      formation de développeur web et web mobile.
    </p>
    <p class="text-lg">
      Après deux années et demie de formation, dont deux en alternance, je suis
      à la recherche d'un emploi en tant que développeur web.
    </p>
    <p class="text-lg">
      Laisse moi me présenter et te montrer ce que j'ai appris, à travers cette
      Single Page App.
    </p>
    <span class="text-primary_color font-bold">Bonne visite !</span>
  </div>
</div>
