<div class="m-8 absolute right-0">
  <button class="w-auto p-1 border-2">
    <a href="/chifumi">Contact</a>
  </button>
</div>
<div class="flex justify-around global">
  <img class="h-screen w-screen" src="/images/profile-pic.png" alt="" />
  <div class="flex flex-col justify-center">
    <p class="text-4xl font-bold">
      Salut,
      <span>je suis <span class="text-primary_color">Matthieu</span></span>
    </p>
    <h1 class="text-2xl font-bold">
      un <span class="text-primary_color">Développeur Full Stack Junior</span>
    </h1>
    <p class="text-lg pt-4">
      Je suis passionné par le développement web et je termine actuellement ma
      formation de développeur web et web mobile.
    </p>
    <p class="text-lg py-2">
      Après deux années et demie de formation, dont deux en alternance, je suis
      à la recherche d'un emploi en tant que développeur web.
    </p>
    <p class="text-lg pb-4">
      Laisse moi me présenter et te montrer ce que j'ai appris, à travers cette
      Single Page App.
    </p>
    <span class="text-primary_color font-bold">Bonne visite !</span>
  </div>
</div>
