p {
  opacity: 1 !important;
}
.global {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  background-color: #161616;
}

.game-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game {
  position: relative;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parties-played {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.live {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.live-result {
  position: relative;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.parties-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.parties {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.parties-list {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.win {
  color: green;
}

.lost {
  color: yellow;
}

.equal {
  color: blue;
}

.result-partie {
  display: flex;
  flex-direction: column;
  position: relative;
}

.playerAndComputChoices {
  display: flex;
  justify-content: space-around;
}

.winTheGameBack {
  opacity: 0.3;
}

.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#select-level {
  height: 40px;
  border: none;
  overflow: hidden;
  background-color: transparent;
}
#select-level::-moz-focus-inner {
  border: 0;
}
#select-level:focus {
  outline: none;
}
#select-level option {
  width: 60px;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  background-color: #b3b3b3;
  color: black;
}

/* How to color the background when the user clicks on the button? */
#select-level option:checked {
  background-color: #03ff40;
  color: white;
}

.rules {
  height: 100%;
  font-family: "VT323", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30vh;
}
