/* Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
  background-color: #333;
}

.container-list {
  list-style-type: none;
  padding: 8px;
}

/* ProjectList */

ul {
  border-top: solid 1px #fff;
}

li {
  list-style-type: none;
  padding: 8px;
  border-bottom: solid 1px #fff;
}

/* ImageList */
